[submodule "vim-bundles/ctrlp.vim"]
	path = vim-bundles/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim-bundles/vim-airline"]
	path = vim-bundles/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "vim-bundles/vim-colors-solarized"]
	path = vim-bundles/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim-bundles/vim-fugitive"]
	path = vim-bundles/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim-bundles/vim-rails"]
	path = vim-bundles/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "vim-bundles/vim-bundler"]
	path = vim-bundles/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "vim-bundles/vim-coffee-script"]
	path = vim-bundles/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim-bundles/VimClojure"]
	path = vim-bundles/VimClojure
	url = git@github.com:francoisdevlin/VimClojure.git
[submodule "vim-bundles/vim-repeat"]
	path = vim-bundles/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "vim-bundles/utl.vim"]
	path = vim-bundles/utl.vim
	url = git@github.com:vim-scripts/utl.vim.git
[submodule "vim-bundles/vim-orgmode"]
	path = vim-bundles/vim-orgmode
	url = git@github.com:jceb/vim-orgmode.git
[submodule "vim-bundles/vim-speeddatting"]
	path = vim-bundles/vim-speeddatting
	url = git@github.com:tpope/vim-speeddating.git
[submodule "vim-bundles/tagbar"]
	path = vim-bundles/tagbar
	url = git@github.com:majutsushi/tagbar.git
[submodule "vim-bundles/tabular"]
	path = vim-bundles/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "vim-bundles/nerdtree"]
	path = vim-bundles/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim-bundles/vim-indent-object"]
	path = vim-bundles/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "vim-bundles/supertab"]
	path = vim-bundles/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim-bundles/vim-surround"]
	path = vim-bundles/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim-bundles/nerdcommenter"]
	path = vim-bundles/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim-bundles/vim-endwise"]
	path = vim-bundles/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim-bundles/delimitMate"]
	path = vim-bundles/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "vim-bundles/vim-less"]
	path = vim-bundles/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule "vim-bundles/vim-indent-guides"]
	path = vim-bundles/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
